@font-face {
  font-family: 'Computer Modern Serif';
  src: url('cmunrm.eot');
  src: url('cmunrm.eot?#iefix') format('embedded-opentype'),
    url('cmunrm.woff') format('woff'), url('cmunrm.ttf') format('truetype'),
    url('cmunrm.svg#cmunrm') format('svg');
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}
